/GRPCGreeterClient/.vs/
/GRPCGreeterClient/.idea/
/GRPCGreeterClient/GRPCGreeterClient/bin/
/GRPCGreeterClient/GRPCGreeterClient/obj/
/GrpcService1/.vs/
/GrpcService1/.idea/
/GrpcService1/GrpcService1/bin/
/GrpcService1/GrpcService1/obj/
/GrpcService1/gRPC_Client/
/GrpcService2.0/bin/
/GrpcService2.0/obj/
/GrpcService2.0/.vs/
/Java_gRPC_Client/

